1_Data_download_and_preprocessing\raw_data_catalogue_label
1_Data_download_and_preprocessing\Denoising_reference_set\download
1_Data_download_and_preprocessing\Parameter_estimation_reference_set\download
1_Data_download_and_preprocessing\raw_data_catalogue_label

data/data_Preprocessed
data/FLUX
data/LABELS
jupyter/data
model_log
jupyter/pdf
