
1_Data_download_and_preprocessing/Denoising_reference_set/download
1_Data_download_and_preprocessing/Denoising_reference_set/data_after_processing
1_Data_download_and_preprocessing/Denoising_reference_set/data_after_processing--有波长矫正
1_Data_download_and_preprocessing/Parameter_estimation_reference_set/download
1_Data_download_and_preprocessing/Parameter_estimation_reference_set/data_after_processing
1_Data_download_and_preprocessing/Parameter_estimation_reference_set/data_after_processing--有波长矫正
1_Data_download_and_preprocessing/raw_data_catalogue_label


4_SpecTE-LAMOST_catalog/1_download_and_preprocessing_LAMOSTDR11/catalog_download/FITS
4_SpecTE-LAMOST_catalog/1_download_and_preprocessing_LAMOSTDR11/catalog_download/download_url
4_SpecTE-LAMOST_catalog/1_download_and_preprocessing_LAMOSTDR11/catalog_download/progress

4_SpecTE-LAMOST_catalog/1_download_and_preprocessing_LAMOSTDR11/查看数据.ipynb
4_SpecTE-LAMOST_catalog/1_download_and_preprocessing_LAMOSTDR11/合并星表.ipynb
4_SpecTE-LAMOST_catalog/1_download_and_preprocessing_LAMOSTDR11/预处理.ipynb
4_SpecTE-LAMOST_catalog/1_download_and_preprocessing_LAMOSTDR11/wave_scope.json

